{% if form is defined %}
    {% form_theme form "bootstrap_3_layout.html.twig" %}
{% endif %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/vendors/bootstrap/dist/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/vendors/bootstrap/dist/css/bootstrap-theme.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>
            body{
                padding-top: 50px;
            }
        </style>
    </head>
    <body>

    {% include "header.html.twig" %}

    <div class="container">

        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        {% endblock %}
        {% include "footer.html.twig" %}
    </div>
    </body>
</html>
